#intro-section {
  background-color: rgba(56, 56, 56, 0.502);
  padding: 8rem 0 0 0;
}
.display-2 {
  text-transform: capitalize;
  color: black;
  font-size: 4.5rem;
  font-weight: 400;
  display: inline-block;
}
.display-2-intro {
  font-weight: 700;
}
.display-2-description {
  font-size: 1.2rem;
  display: inline-block;
}
.img-box {
  text-align: right;
  margin-top: 0;
}
